{% load static %}

<!DOCTYPE html>
<html lang="en">
    {% load partials %}

    {% include "partials/components.html#header" %}
    <body>
        <!-- Top Header Start -->
        {% include "partials/components.html#topheader" %}
        <!-- Top Header End -->

        <!-- Header Start -->
        {% include "partials/components.html#navbar" %}
        <!-- Header End -->

        <main id="main">

            <!-- Services Section Start -->
            <section id="services">
                <div class="container">
                    <header class="section-header">
                        <h3>Services</h3>
                    </header>
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="single-service">
                                <div class="icon icon-1"></div>
                                <h4>Consultation</h4>
                                <span>20 Min | $50.00</span>
                                <p>Get expert medical advice from qualified doctors for your health concerns.</p>
                                <a href="{% url "booking" %}">Book Now</a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="single-service">
                                <div class="icon icon-2"></div>
                                <h4>Health Checkup</h4>
                                <span>30 Min | $30.00</span>
                                <p>Stay ahead of health issues with routine checkups.</p>
                                <a href="{% url "booking" %}">Book Now</a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="single-service">
                                <div class="icon icon-3"></div>
                                <h4>Flu Shots</h4>
                                <span>10 Min | $15.00</span>
                                <p>Protect yourself and your family from seasonal flu with safe vaccinations.</p>
                                <a href="{% url "booking" %}">Book Now</a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="single-service">
                                <div class="icon icon-4"></div>
                                <h4>Blood Test</h4>
                                <span>30 Min | $10.00</span>
                                <p>Book lab tests conveniently without long waits.</p>
                                <a href="{% url "booking" %}">Book Now</a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="single-service">
                                <div class="icon icon-5"></div>
                                <h4>Physical Exams</h4>
                                <span>30 Min | $50.00</span>
                                <p>Complete physical examinations to assess your overall health.</p>
                                <a href="{% url "booking" %}">Book Now</a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="single-service">
                                <div class="icon icon-6"></div>
                                <h4>Prevention</h4>
                                <span>10 Min | $20.00</span>
                                <p>Focus on preventive care to maintain a healthy lifestyle.</p>
                                <a href="{% url "booking" %}">Book Now</a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="single-service">
                                <div class="icon icon-7"></div>
                                <h4>Family Planning</h4>
                                <span>30 Min | $20.00</span>
                                <p>Make informed decisions with expert support tailored to your needs.</p>
                                <a href="{% url "booking" %}">Book Now</a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="single-service">
                                <div class="icon icon-8"></div>
                                <h4>Home Visits</h4>
                                <span>30 Min | $30.00</span>
                                <p>Receive medical care from the comfort of your home.</p>
                                <a href="{% url "booking" %}">Book Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Service Section End-->
            
            <!-- Section Start -->
            <section id="subscriber">
                <div class="container">
                    <h3>Your Health is our Priority</h3>
                </div>
            </section>
            <!-- Section end -->
            
            <!-- Support Section Start -->
            <section id="support" class="wow fadeInUp">
                <div class="container">
                    <h1>
                        Need help? Call me 24/7 at +91 9287672041
                    </h1>
                </div>
            </section>
            <!-- Support Section end -->

        </main>

        <!-- Footer Start -->
        {% include "partials/components.html#footer" %}
        <!-- Footer end -->

        {% include "partials/js-libraries.html#scripts" %}

    </body>
</html>
